<!-- <h2 id="p-window-title">Proficiencies</h2> -->
<div id="preview-tech" class="hide-me">
    <div id="theatre" class="md-n">
        <h5 id="X2" (click)="closeTheatre()" class="close hide-me brdn"><span style="display:block; font-size:18px;" class="X1"><<</span></h5>
        <div class="lm ext hide-me" id="tl-arrow"></div>
        <div class="rm ext hide-me" id="tr-arrow"></div>
    </div>
    <h5 id="X" class="close" (click)="discardMedia()"><span style="display:block; font-size:18px;" class="X1">X</span></h5>

    <div id="tech-window" class="tech">
        
        <h4 class="nop-top" style="margin-top:4px;">Stack: </h4> 
        <div id="previewTechImages" class="p-icon-section">
            <!-- <img class="p-tech-img" src="assets/img/flask.png" alt="">
            <img class="p-tech-img" src="assets/img/flask.png" alt="">
            <img class="p-tech-img" src="assets/img/flask.png" alt="">
            <img class="p-tech-img" src="assets/img/flask.png" alt="">
            <img class="p-tech-img" src="assets/img/flask.png" alt="">
            <img class="p-tech-img" src="assets/img/flask.png" alt=""> -->
        </div>
        
        <div class="p-title">

            <h4 id="previewLink"></h4>

        </div>

         <div class="pad flex expand">
            <div>
                <p id="previewDescription"></p>
                <div id="adtl" class="hide-me">
                    <h3>Additional Comments</h3>
                    <p id="adtl-p"><span id="adtl-intro"></span>: </p>
                </div>
            </div>
            <div id="media">
                
            </div>
            
        
        </div>

    </div>
</div>
<section class="tech-section" *ngFor="let item of buffer ; index as i ; ">    <!-- Outer Loop (Y) -->
    
    <div class="brd r-side">

        <div class="section-alt">

            <div (click)="highlighter($event)" 
                 (mouseout)="unhighlight($event)" 
                 (mouseover)="highlighter($event)"
                 [id]="n[0]" class="imBox-sm" 
                 *ngFor="let n of buffer[i] ; index as j ; "> <!-- Inner Loop (X) -->
                    <img class="no-evt" [src]="imgAssets + n[1]" alt="">
            </div>
        
        </div>

    </div>

</section>