<h2>Proficiencies</h2>
<div class="test r-side">
    <div class="section-alt">

        <div class="imBox-sm">
        <img src="assets/img/cjs.png" alt="">
        </div>
        <div class="imBox-sm">
        <img src="assets/img/py.png" alt="">
        </div>
        <div class="imBox-sm">
        <img src="assets/img/cpp.png" alt="">
        </div>
        <div class="imBox-sm">
                <img src="assets/img/ts.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/php.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/sheb.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/lua.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/cs.png" alt="">
        </div>

    </div>
    <div id="projects"></div>
</div>

<div class="test r-side">
    <div class="section-alt">

        <div class="imBox-sm">
        <img src="assets/img/nodejs.png" alt="">
        </div>
        <div class="imBox-sm">
        <img src="assets/img/react.png" alt="">
        </div>
        <div class="imBox-sm">
        <img src="assets/img/lara.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/ang.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/flask.png" alt="">
        </div>
    </div>
    <div id="projects"></div>
</div>

<div class="test r-side">
    <div class="section-alt">

        <div class="imBox-sm">
            <img src="assets/img/graphql.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/ossl.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/ocv.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/d3.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/pgame.png" alt="">
        </div>
    </div>
    <div id="projects"></div>
</div>

<div class="test r-side">
    <div class="section-alt">
        <div class="imBox-sm">
            <img src="assets/img/rds.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/mysql.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/mgo.png" alt="">
        </div>
        <div class="imBox-sm">
            <img src="assets/img/ln.png" alt="">
        </div>
    </div>
    <div id="projects"></div>
</div>

<div class="test r-side">
        <div class="section-alt">
            <div class="imBox-sm">
                <img src="assets/img/ard.png" alt="">
            </div>
            <div class="imBox-sm">
                <img src="assets/img/rpi.png" alt="">
            </div>
            <div class="imBox-sm">
                <img src="assets/img/tva.png" alt="">
            </div>
        </div>
        <div id="projects"></div>
    </div>
    