<section id="intro" class="introduction">
    <!-- <h4 class="nop-top" style="margin-top:4px;">Stack: </h4>  -->
    <div id="previewImages" class="p-icon-section intro-section">
        <a href="https://github.com/YoshiDesign" target="_blank">
            <div class="scl2">
            <div class="scl">
                <img src="assets/img/ocat.png" class="sm-img" alt="">
            </div>
            
        </div>
        </a>
        <a href="https://linkedin.com/in/lyristis" target="_blank">
            <div class="scl2">
            <div class="scl">
                <img src="assets/img/linkd.png" class="sm-img" alt="">
            </div>
        </div>
        </a>
        <a href="https://twitter.com/YoLyristis" target="_blank">
            <div class="scl2">
            <div class="scl">
                <img src="assets/img/twt.png" class="sm-img" alt="">
            </div>
        </div>
        </a>

    </div>
    <h1>Welcome to my portfolio</h1>
    <p>I am a self instructed life-long learner, as we all are!
        Being dedicated to continued education hasn't only served me well in my career, it has provided me with a personal framework for producing valuable habits to support success for myself and my colleagues.
        I enjoy creating memorable experiences through critical, outside-of-the-box thinking with various technologies.
    </p>
    <p>
        <b>I'm most engaged by my work</b> while working alongside a knowledgeable team and strive to facilitate the growth of the team while promoting growth within each individual member by undersatnding
        each of our strenghts and shortcomings.
        I've independently contributed within the production lifecycle, from inception to launch, in the global homeshooling market.
    </p>

    <p><b>Two principles</b> which make up the core of my learning strategy, which I admittedly take quite seriously, are: learn by completing projects, and to always prefer <i>exploration </i>before <i>exploitation</i>.<br>
        Some projects are ongoing, they are meant to sharpen the acquisition
         of a new skill and exist as open sandboxes for experimentation (<a>OpenCV &amp; Embedded Systems</a>, <a>Retro Flight Simulator</a>), while others aim to improve my capacities for tackling particular problem domains.
        <a>The World Works</a> (codename: DubDub) is set to be my most substantial contribution to society, apart from the work I do for my company.
        If you happen to take a tour of it, please feel more than free to leave me some feedback! I would sincerely appreciate it.
    </p>

    <p>
        Thank you for taking the time to browse my portfolio!
    </p>
</section>