<!--The content below is only a placeholder and can be replaced.-->

<div class="row main-body">

    <!-- SPACE -->
    <div class="col-md-2 col-sm-12 col-xs-12 tear-down-L1"></div>
    <!-- SPACE -->
    
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="col-md-12 primary-container">
            <app-detail-window></app-detail-window>
        </div>
    </div>

    <!-- SPACE -->
    <div class="col-md-2 col-sm-12 col-xs-12 tear-down-L1"></div>
    <!-- SPACE -->
    
</div>

<router-outlet></router-outlet>
