<div class="test r-side r badges">

    <div class="badge-container-m">

            <div class="imBox">
                <a target="_blank" href="assets/pdf/HarvardXProCertAI.pdf">
                    <img src="assets/img/hx.png" alt="">
                </a>
            </div>
            <div class="imBox">
                <a target="_blank" href="assets/pdf/cysa_certificate.pdf">
                    <img src="assets/img/cysa_.png" alt="">
                </a>
            </div>

            <div class="imBox">
                <a target="_blank" href="assets/pdf/aplus_certificate.pdf">
                    <img src="assets/img/aplus_.png" alt="">
                </a>
            </div>
            <div class="imBox">
                <a target="_blank" href="https://edx.org">
                    <img src="assets/img/edx.png" alt="">
                </a>
            </div>

    </div>
</div>
    