<section id="social_box" class="m md-4 l-side">
    <div class="d-meter" id="soc-meter">

    </div>
    <section class="d-window">
        <div class="lm ext" id="left_a"></div>
        <div class="rm ext" id="right_a"></div>

        <div id="previews" class="scroller d-box">
            <div id="da" class="down"></div>
            <div id="p-content">

                <!-- Mobile Previews go here -->
                
            </div>
        </div>
    </section>
    
    <aside class="socials">
        <div class="s-head">
            <h3 class="s-head">Let's connect!</h3>
        </div>
        <a href="https://github.com/YoshiDesign" target="_blank">
            <div class="scl2">
            <div class="scl">
                <img src="assets/img/ocat.png" class="sm-img" alt="">
            </div>
        </div>
        </a>
        <a href="https://linkedin.com/in/lyristis" target="_blank">
            <div class="scl2">
            <div class="scl">
                <img src="assets/img/linkd.png" class="sm-img" alt="">
            </div>
        </div>
        </a>
        <a href="https://twitter.com/YoLyristis" target="_blank">
            <div class="scl2">
            <div class="scl">
                <img src="assets/img/twt.png" class="sm-img" alt="">
            </div>
        </div>
        </a>
    </aside>

</section>
