<div id="social_box" class="m md-4 test l-side">
    <div class="d-window">
        <div class="lm ext" id="left_a"></div>
        <div class="rm ext" id="right_a"></div>
        <!-- <img class="proPic" src="assets/img/smprofpic.jpg" alt=""> -->
        <div id="previews" class="scroller d-box">
            <div id="p-content">

                
            </div>
        </div>
    </div>
    
    <div class="socials">
        <div class="s-head">
            <h3 class="s-head">Let's connect!</h3>
        </div>
        <a href="https://github.com/YoshiDesign" target="_blank">
            <div class="scl2">
            <div class="scl">
                <img src="assets/img/ocat.png" class="sm-img" alt="">
            </div>
        </div>
        </a>
        <a href="https://linkedin.com/in/lyristis" target="_blank">
            <div class="scl2">
            <div class="scl">
                <img src="assets/img/linkd.png" class="sm-img" alt="">
            </div>
        </div>
        </a>
        <a href="https://twitter.com/YoLyristis" target="_blank">
            <div class="scl2">
            <div class="scl">
                <img src="assets/img/twt.png" class="sm-img" alt="">
            </div>
        </div>
        </a>
    </div>


<!-- 
    <div class="md-1">
        <a href="https://github.com/YoshiDesign" target="_blank">
            <div class="section dark mdex  br-t">
                <div class="aside">
                    <img src="assets/img/ocat.png" class="sm-img" alt="">
                </div>
                <p class="social-p">
                    YoshiDesign
                </p>
            </div>
        </a>
        <a href="https://linkedin.com/in/lyristis" target="_blank">
            <div class="section dark mdex br-tb">
                <div class="aside">
                    <img src="assets/img/linkd.png" class="sm-img" alt="">
                </div>
                <p class="social-p">
                    /in/lyristis
                </p>
            </div>
        </a>

        <a href="https://twitter.com/YoshiYoshums" target="_blank">
            <div class="section dark mdex">
                <div class="aside">
                    <img src="assets/img/twt.png" class="sm-img" alt="">
                </div>
                <p class="social-p">
                @YoLyristis
                </p>
            </div>
        </a>
    </div> -->

</div>
