<div class="m md-4 test l-side">
        <div class="lm"></div>
        <div class="rm"></div>
    <div class="imgs">

        <img class="proPic" src="assets/img/smprofpic.jpg" alt="">
    </div>

    <div class="md-1">
        <a href="https://github.com/YoshiDesign" target="_blank">
            <div class="section dark mdex  br-t">
                <div class="aside">
                    <img src="assets/img/ocat.png" class="sm-img" alt="">
                </div>
                <p class="social-p">
                    YoshiDesign
                </p>
            </div>
        </a>
        <a href="https://linkedin.com/in/lyristis" target="_blank">
            <div class="section dark mdex br-tb">
                <div class="aside">
                    <img src="assets/img/linkd.png" class="sm-img" alt="">
                </div>
                <p class="social-p">
                    /in/lyristis
                </p>
            </div>
        </a>

        <a href="https://twitter.com/YoshiYoshums" target="_blank"> 
            <div class="section dark mdex">
                <div class="aside">
                    <img src="assets/img/twt.png" class="sm-img" alt="">
                </div>
                <p class="social-p">
                @YoshiYoshums
                </p>
            </div>
        </a>
    </div>

</div>
