/* You can add global styles to this file, and also import other style files */
html {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width:98%;
}
.test {
    display:inline-block;
}
$text_main: #e8e8e8;
$text_alt: rgb(116, 245, 234);

$padding-sm: 40px;
$padding-lg: 50px;
$padding-xl:250px;

$lg-text: 2.3em;
$mgl-text: 1.6em;
$md-text: 1.0em;
$sm-text: 0.6em;

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;

body {
    background-image:url('assets/img/bg-gry.png');
}
h2 {
    color:$text_main;
}
a {
    color:$text_main;
}
a:hover {
    color:orange;
    text-decoration:none;
}

.hidden {
    display:none;
}
.inline {
    display:inline;
}
.lg-view {
    display:block;
}
.xs-text {
    font-size:$sm-text;
}
.tp {
    padding-top:5px;
}
.tear-down-L1 {
    z-index:-10;
}
.sm-view {
    display:none;
    padding-left:25px;
}
.logo {
    color: #e8e8e8;
    padding-right: 0;
    padding-left: 170px;
    padding-top: 8px;
    font-size: 2.3em;
    background-image: url('assets/img/logo-hl-blue.png');
    background-repeat: no-repeat;
}
.market {
    display:inline-block;

}
.nav-text {
    text-align:center;
    color:$text_alt;
    font-size:$md-text;
    padding-right:$padding-sm;
    padding-top:$padding-lg;
}
.nav-text2 {
    font-size:0.35em;
}

.hdr-gallery {
    display:inline-block;
}
.img-header {
    background-image: url('assets/img/logo-hl-blue.png');
    width: 581px;
    margin-left:12%;
    display:inline-block;
    position: relative;
    bottom: 37px;
}
.inner-img {
    position:absolute;
    opacity:0.1;
    bottom:50px;
    right:0;
}
.inner-img > img {
    width:180px;
    height:180px;
    margin-left:40px;
}

.hdr-img {
    display:inline-block;
    margin-left:5px;
}
.r-txt {
    text-align:right;
}
.center {
    text-align:center;
}
#im1 {
    height: 102px;
    width: 109px;
    position: relative;
    top: 2px;
}
#im2 {
    height:150px;
    width:150px;
}
#im3 {
    height:100px;
    width:200px;
}
#ng {
    height:25px;
    width:25px;
}
.footer {
    color:white;
    padding:10px;
    margin-top:50px;
}
.uni-img {
    width:50px;
    height:50px;
}
.intro-div {
    display:inline-block;
}
.intro {
    font-size: $sm-text;
}

.main-body {
    margin-top:45px;
    height:675px;
}

.headers {
    height:90%;
    width:100%;
    background-image:url('assets/img/bg-gry.png');
    background-repeat:no-repeat;
}
.more {
    display: inline;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}
.more:hover {
    cursor:pointer;
    color:orange;
}
.primary-ctr {
    height: auto;
    width: 111%;
}

.add-grad {
    padding-bottom: 3px;
    padding-right: 0px;
    padding-left: 0px;
    margin:auto auto;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 54%, rgba(255,255,255,0) 80%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 54%, rgba(255,255,255,0) 80%);
    background: linear-gradient(90deg, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 54%, rgba(255,255,255,0) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.pri-txt {
    color:$text_main;
    font-size:2rem;
    text-decoration: none !important;
}
.pri-txt:hover {
    color:$text_alt;
    cursor:pointer;
}

.p-item {
    font-size:$mgl-text;
    color:aliceblue;
    padding:5px;
    min-height:140px;
    height: auto;
    margin-left:10px;
    border-bottom: 1px solid #ebc1d9;
    padding-top:15px;
}

.last-item {
    border-bottom: none !important;
}

.p-desc {
    min-height:140px;
    color:$text_alt;
    padding:7px;
}
.p-desc-sm {
    display:none;
    color:$text_alt;
}
.sm-h3 {
    color:white;
}

.dd{

    position: absolute;
    top: 51px;
    left: 10px;
    width: 1080px;
    height: 620px;;
    max-height:800px;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.4);
    padding-bottom:50px;

}

.closure {
    height: 400px;
    width: 83%;
    background: url('assets/img/body-hl.png');
    background-position: calc(100% - 20px) calc(0px);
    background-repeat:no-repeat;
}

.arrow {
    width: 0; 
    height: 0; 
    position: relative;
    top: 12px;
    margin:5px 0px 5px 0px;
    transform:rotate(135deg);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(255, 255, 255, 1);
}
#resume {
    height:auto;
    max-height:588px;
    overflow-y:scroll;
}

.res-frame {
    width: 100%;
    margin-left:15px;
}
@media (max-width : 1217px) {
    .img-header{
        // background:none;
        margin-left:115px;
    }
    .tear-down-L1 {
        display:none;
    }
}
@media (max-width : $screen-xl) {

    .main-body {
        height:845px;
    }


    .logo {
        display:block;
        padding-left:25px;
    }

	.dd {		
        position:relative;
		width:99%;
        height:auto;
        top: -5px;
        left:0px;
	}

	.add-grad {
        // width:940px;
        height:50px;
	}
	
	.headers {
	    height: auto;
	    // width: 837px;
    }
    
    .intro-div {
        width:425px;
    }

    .p-desc {
        min-height:160px;
    }
    .p-item {
        min-height:160px;
    }
    .img-header {
        margin:0px 0px 15px -33px;
        width:545px;
    }

    .market {
        width:70px;
        position:absolute;
        right:3px;
        top:5px;
    }

    .primary-ctr {
         width: 160%;
    }

}

@media (max-width : $screen-lg) {

    .main-body {
        height:845px;
    }

    .intro-div {
        width:425px;
    }
    .inner-img > img {
        margin-left:20px;
    }
    .pri-txt {
        font-size:1.5rem;
        margin-left:25px;
    } 
    .logo {
        padding-left:41px;
        align-items: center;
    }
    .img-header {
        background-image: url('assets/img/logo-hl-blue.png');
        width: 545px;
        margin: 15px 15px 15px 15px;
        align-items: center;
        position: relative;
        bottom: 23px;
        padding-top: 27px;
        display: inline-flex;
        align-content: center;
    }
    
    .hdr-img {
        display: block;
        margin-left: 5px;
        margin-bottom: 15px;
        flex: 3;
        /* width: 100px; */
        /* margin: 0; */
    }
    
    .img-header {
        background-image: none;
        margin: 0;
        width: 600px;
        display: inline-flex;
    }
    
    // .market {
    //     display: inline-block;
    //     float: right;
    //     margin-right: 10%;
    //     position: relative;
    //     bottom: 129px;
    // }
    .dd {
        width:100%;
        margin-bottom:25px;
    }

    .add-grad {
        height:25px;
    }

}

@media (max-width : $screen-md) {


    .main-body {
        height:870px;
    }

    .pri-txt {
        font-size:1.3rem;
    } 


    .intro-div {
        padding-left:25%;
    }

    .r-text {
        width: 200px;
    }
    
    .n-text {
        width: 168px;
    }
    
    .add-grad {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 28%, rgba(255, 255, 255, 0) 66%);
    }
    
    #im2 {
        margin-right: 15px;
    }

    #im3 {
        height:50px;
        width:110px;
    }
    
    .img-header {
        margin-right: 15px;
        width:525px;
    }
    .dd {
        width: 65%;
      
    }

    .headers{
        display:inline-block;
    }

    .intro-div, .headers, .primary-ctr, .dd {
        width:100%;
    }

    .img-header {
        width:80%;
    }

    .intro-div {
        padding-left:15px;
    }

    .p-desc {
        display:none;
    }
    .p-desc-sm {
        display:block;
    }
    

    .sm-view {
        display:block;
    }
    .lg-view{
        display:none;
    }

    .dd {
        max-height:none;
    }

    .footer {
        margin-right: 35%;
    }


}

@media (max-height : $screen-sm) {
    .intro-div {
        padding-left:10px;
    }
}