<div class="primary-ctr">
    <div class="col-md-12 add-grad">
        <div class="row col-md-12 row  headers">
            <div  class="col-md-4 heading-1"><span (click)="showProjects()" id="pHead" class="pri-txt">Projects</span>

            </div>
            <div class="col-md-4 heading-2"><span (click)="showCerts()" id="cHead" class="pri-txt">Certification</span>

            </div>
            <div class="col-md-4 heading-3"><span (click)="showResume()" id="rHead" class="pri-txt">Resume</span>

            </div>
            <div class="dd">
                <div id="arrow_" class="arrow"></div>

                <!-- <Projects> -->
                <div id="projects"[class]="pHide == false ? 'row col-md-12' : 'hidden'">
                    <div class="col-md-5">
                        <p class="p-item">Personal API</p>

                        <p class="p-item">OpenCV &amp; Robotics</p>
                        <p class="p-item">Personal Space Invaders</p>
                        <p class="p-item last-item"><a href="https://www.youtube.com/watch?v=45ANv3yhFAs">Steganography Web-App <br> (CS50 Final)</a></p>
                    </div>
                    <div class="col-md-7">
                        <p class="p-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aspernatur qui voluptas asperiores autem accusantium aliquam debitis iure odio mollitia, enim, illo voluptatum pariatur maxime omnis sunt incidunt sequi molestiae.</p>
                        <p class="p-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque vitae totam sint eveniet voluptate expedita quibusdam distinctio laborum error. Recusandae nostrum quo impedit temporibus velit neque perferendis expedita commodi debitis!</p>
                        <p class="p-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis fuga cum rerum placeat necessitatibus, quasi voluptates. Numquam ipsum magni, commodi esse dicta dolor asperiores architecto, vero rem eveniet, neque nihil.</p>
                        <p class="p-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis quia dolor magni quasi similique, et voluptate omnis, officia provident mollitia hic, expedita commodi fuga. Consequatur a reprehenderit assumenda ipsum quisquam.m</p>
                    </div>
                </div>
                <!-- </Projects> -->

                <!-- <Certification> -->
                <div id="certs" [class]="cHide == false ? 'row col-md-12' : 'hidden'">
                    <div class="col-md-5">
                        <p class="p-item">CompTIA A+</p>
                        <p class="p-item">CompTIA CySA+</p>
                        <p class="p-item">Harvard CS50: Introduction to Computer Science</p>
                        <p class="p-item last-item">Harvard CS50B: Computer Science for Business Professionals</p>
                    </div>
                    <div class="col-md-7">
                        <p class="p-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aspernatur qui voluptas asperiores autem accusantium aliquam debitis iure odio mollitia, enim, illo voluptatum pariatur maxime omnis sunt incidunt sequi molestiae.</p>
                        <p class="p-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque vitae totam sint eveniet voluptate expedita quibusdam distinctio laborum error. Recusandae nostrum quo impedit temporibus velit neque perferendis expedita commodi debitis!</p>
                        <p class="p-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis fuga cum rerum placeat necessitatibus, quasi voluptates. Numquam ipsum magni, commodi esse dicta dolor asperiores architecto, vero rem eveniet, neque nihil.</p>
                        <p class="p-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis quia dolor magni quasi similique, et voluptate omnis, officia provident mollitia hic, expedita commodi fuga. Consequatur a reprehenderit assumenda ipsum quisquam.m</p>
                    </div>
                </div>
                <!-- </Certification> -->

                <!-- <Resume> -->

                <div (click)="showResume()" id="resume" [class]="rHide == false ? 'row col-md-12' : 'hidden'">
                    <img class="res-frame" src="assets/img/bigassresume.png" />
                </div>

                <!-- </Resume> -->

            </div>
        </div>
    </div>
    <div class="closure">
        
    </div>
</div>
