<div class="primary-ctr">
    <div class="col-md-12 add-grad">
        <div style="position:relative; bottom:2px;" class="row col-md-12 headers">
            <div class="test">
            <div  class="col-md-4 inline"><span (click)="showProjects()" id="pHead" class="pri-txt">Projects</span>

            </div>
            <div class="col-md-4 inline center"><span (click)="showCerts()" id="cHead" class="pri-txt">Certification</span>

            </div>
            <div class="col-md-4 inline r-txt"><span (click)="showResume()" id="rHead" class="pri-txt">Resume</span>

            </div>
            <!-- <div id="plusplus" class="more">More >></div> -->
            </div>
           
        </div>
        <div class="dd">
                <div id="arrow_" class="arrow"></div>

                <!-- <Projects> -->
                <div  id="projects"[class]="pHide == false ? 'row col-md-12 tp' : 'hidden'">

                    <!-- MOBILE -->
                    <div class="col-md-12 sm-view">

                        <h3 class="sm-h3">Personal API</h3>
                        <div class="display-sm">
                            <p class="p-desc-sm">I use Heroku to host a Python web server. It is a Flask installation that is currently being used to service any means of data transfer I require from around the net, and soon to be the brain of all of my IoT projects.</p>
                        </div>
                        <h3 class="sm-h3"><a href="https://www.instagram.com/p/B1VCOaBg6Cs/">OpenCV &amp; Robotics</a></h3>
                        <div class="display-sm">
                            <p class="p-desc-sm">I've always wanted to dive head-first into robotics and electrical engineering. This bot is the starting point for an expansive learning endeavor into AI systems and general microcontroller implementation. At this moment it employs OpenCV in C++ for facial recognition and wields a 405nm ultraviolet laser for no real reason. The laser is controlled via mouse and communicates to its servo's using a Windows App written in C#.</p>
                        </div>
                        <h3 class="sm-h3"><a href="http://anthonylyristis.com/pages/psi.html">Personal Space Invaders</a><br><a class="xs-text"  href="https://github.com/YoshiDesign/P.S.I.">(open source)</a></h3>
                        <div class="display-sm">
                            <p class="p-desc-sm">A PC game for Linux and Windows. Utilizing the Twitter API, the most recent tweets of any Twitter user can be augmented, letter by letter, into a game of Space Invaders. Using the Natural Language Tool-Kit (NLTK) for Python, the difficulty is altered relative to the lexical sentiments of your combatant's last 20 tweets.</p>
                        </div>
                        <h3 class="sm-h3"><a target="_blank" href="http://alyrist.herokuapp.com">Steganography</a></h3>
                        <div class="display-sm">
                            <p class="p-desc-sm">A web application and learning tool that I built using Python. It is your conventional steganographic image processor with image analysis and an option to visual the encoding. Conceal text, encrypted messages, love letters and the like. The CLI version is <a href="https://gist.github.com/YoshiDesign/015ad38535a5537eef2be1b333a009d1" target="_blank" >available on github</a> and it's lots of fun.</p>
                        </div>
                    </div>
                    <!-- /MOBILE -->

                    <div class="col-md-5 lg-view"> 
                        <p class="p-item">Personal API</p>
                    </div>
                    <div class="col-md-7 lg-view">
                        <p class="p-desc">I use Heroku to host a Python web server. It is a Flask installation that is currently being used to service any means of data transfer I require from around the net, and soon to be the brain of all of my IoT projects.</p>
                    </div>

                    <div class="col-md-5 lg-view">
                        <p class="p-item"><a href="https://www.instagram.com/p/B1VCOaBg6Cs/">OpenCV &amp; Robotics</a></p> 
                    </div>
                    <div class="col-md-7 lg-view">
                        <p class="p-desc">I've always wanted to dive head-first into robotics and electrical engineering. This bot is the starting point for an expansive learning endeavor into AI systems and general microcontroller implementation. At this moment it employs OpenCV in C++ for facial recognition and wields a 405nm ultraviolet laser for no real reason. The laser is controlled via mouse and communicates to its servo's using a Windows App written in C#.</p>
                    </div>
                        <div class="inner-img">
                            <img style="padding:30px;" src="assets/img/ln.png" alt="">
                            <img src="assets/img/ocv.png" alt="">
                            <img src="assets/img/py.png" alt="">
                        </div>
                    <div class="col-md-5 lg-view">
                        <p class="p-item"><a href="http://anthonylyristis.com/pages/psi.html">Personal Space Invaders</a><br><a class="xs-text" href="https://github.com/YoshiDesign/P.S.I.">(open source)</a></p>
                    </div>
                    <div class="col-md-7 lg-view">
                        <p class="p-desc">A PC game for Linux and Windows. Utilizing the Twitter API, the most recent tweets of any Twitter user can be augmented, letter by letter, into a game of Space Invaders. Using the Natural Language Tool-Kit (NLTK) for Python, the difficulty is altered relative to the lexical sentiments of your combatant's last 20 tweets.</p>
                    </div>
                    <div class="col-md-5 lg-view">
                        <p class="p-item last-item"><a target="_blank" href="http://alyrist.herokuapp.com">Steganography Web-App</a> <br> (CS50 Final)</p><br>
                    </div>
                    <div class="col-md-7 lg-view">
                        <p class="p-desc">A web application and learning tool that I built using Python. It is your conventional steganographic image processor with image analysis and an option to visual the encoding. Conceal text, encrypted messages, love letters and the like. The CLI version is <a href="https://gist.github.com/YoshiDesign/015ad38535a5537eef2be1b333a009d1" target="_blank" >available on github</a> and it's lots of fun.</p>
                    </div>


                </div>
                <!-- </Projects> -->

                <!-- <Certification> -->

                    <div  id="certs" [class]="cHide == false ? 'row col-md-12 tp' : 'hidden'">

                    <!-- MOBILE -->
                    <div class="col-md-12 sm-view">
                        <h3 class="sm-h3">CompTIA A+</h3>
                        <div class="display-sm">
                            <p class="p-desc-sm">Certifies general knowledge & practices in hardware, networking and software in the field of Information Technology.</p>
                        </div>
                    </div>
                    <div class="col-md-12 sm-view">
                        <h3 class="sm-h3">CompTIA CySA+</h3>
                        <div class="display-sm">
                            <p class="p-desc-sm">A much more involved certificate, the CySA+ demonstrates knowledge and practical skills in the fields of Cyber Forensics and Cyber Defense. Through this certification I have learned how to utilize many of the tools available in the Ethical Hacker's toolbelt.</p>
                        </div>
                    </div>
                    <div class="col-md-12 sm-view">
                        <h3 class="sm-h3">Harvard CS50x</h3>
                        <div class="display-sm">
                            <p class="p-desc-sm">Introduction to Computer Science. Enviably taught by the mighty David Malan, Gordon McKay Professor of the Practice of Computer Science. This course was so amazing that I began taking it a 2nd time. I was a very active tutor on the CS50 reddit long after completion which subsequently prompted the creation of my WordPress site.</p>
                        </div>
                    </div>
                    <div class="col-md-12 sm-view">
                        <h3 class="sm-h3">Harvard CS50B</h3>
                        <div class="display-sm">
                            <p class="p-desc-sm">Computer Science for Business Professionals. Also taught by David Malan, this class focused more on the abstractions which computer science offers in your business domain. It covers everything from network architecure to cloud computing and security.</p>
                        </div>
                    </div>
                    <!-- /MOBILE  -->

                    <div class="col-md-5 lg-view">
                        <p class="p-item">CompTIA A+</p>
                        <p class="p-item">CompTIA CySA+</p>
                        <p class="p-item">Harvard CS50x</p>
                        <p class="p-item last-item">Harvard CS50B</p>
                    </div>
                    <div class="col-md-7">
                            <div class="inner-img">
                                    <img src="assets/img/cpp.png" alt="">
                                    <img src="assets/img/cs.png" alt="">
                                </div>
                        <p class="p-desc">Certifies general knowledge &amp; practices in hardware, networking and software in the field of Information Technology.</p>
                        <p class="p-desc">A much more involved certificate, the CySA+ demonstrates knowledge and practical skills in the fields of Cyber Forensics and Cyber Defense. Through this certification I have learned how to utilize many of the tools available in the Ethical Hacker's toolbelt.</p>
                        <p class="p-desc">Introduction to Computer Science. Enviably taught  by the mighty David Malan, Gordon McKay Professor of the Practice of Computer Science. This course was so amazing that I began taking it a 2nd time. I was a very active tutor on the CS50 reddit long after completion which subsequently prompted the creation of my WordPress site.</p>
                        <p class="p-desc">Computer Science for Business Professionals. Also taught by David Malan, this class focused more on the abstractions which computer science offers in your business domain. It covers everything from network architecure to cloud computing and security.</p>
                    </div>
                </div>
                <!-- </Certification> -->

                <!-- <Resume> -->

                <div (click)="showResume()" id="resume" [class]="rHide == false ? 'row col-md-12' : 'hidden'">
                    <img class="res-frame" src="assets/img/bigassresume.png" />
                </div>

                <!-- </Resume> -->

            </div>
    </div>
    <div class="closure">
        
    </div>
</div>
